body {
    font-size: 18px;
}
body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #444;
    background-image: linear-gradient(#444 30%, #21007F);
    margin: 0 30px 30px 30px;
}
header {
    padding: 30px;
}
header p {
    color: #aaa;
}

section {
    padding: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 6px;
}

a {
    color: #21007F;
}
a:hover {
    text-decoration: none;
}

li {
    line-height: 1.5em;
}

p {
    margin-bottom: 1em;
}

.logo {
    max-width: 100%;
    width: 465px;
}

section > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

code {
    background-color: #222;
    color: white;
    padding: 2px 5px;
    border-radius: 2px;
}

.big-button {
    background-color: #21007F;
    background-image: radial-gradient(#21007F, rgb(68, 23, 192));
    color: #fff;
    padding: 10px 50px;
    text-decoration: none;
    transition: background-image .3s, background-color .3s;
    display: inline-block;
    border-radius: 3px;
}
.big-button:hover {
    background-color: rgb(68, 37, 155);
    background-image: radial-gradient(rgb(68, 23, 192), #21007F);
}

.done {
    text-decoration: line-through;
}