html { height: 100%; }

body {
    background-color: #444;
    min-height: 100%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin: 0;
    display: grid;
    grid-template-areas:
      "header header"
      "main sidebar";
    grid-template-columns: 10fr 6fr;
    grid-template-rows: 80px auto;
    align-content: stretch;
}

body > header {
    background-color: #2f3133;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #111;
    box-shadow: 0px 2px 5px #222;
}
    body > header .logo {
        flex-basis: 180px;
        width: 180px;
        padding: 10px 20px;
    }
    body > header #connect_form {
        display: flex;
        padding-top: 10px;
    }
    body > header #connect_form .field {
        margin-right: 20px;
    }
    body > header #connect_form .actions {
        padding-top: 20px;
    }
    body > header #connect_form label {
        color: white;
        display: block;
        margin-bottom: 5px;
        font-size: 0.8em;
    }
    body > header #connect_form input[type=text] {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        border: 0;
        padding: 5px 8px;
        border-radius: 2px;
    }
    body > header #connect_form input[type=text]:disabled {
        cursor: not-allowed;
    }
    body > header #connect_form button {
        background-color: #1f7f2e;
        border: 0;
        color: white;
        padding: 6px 10px;
        cursor: pointer;
        transition: background-color .3s;
        border-radius: 2px;
    }
    body > header #connect_form button:hover {
        background-color: #479654;
    }
    body > header #connect_form button:disabled {
        background-color: grey;
        cursor: not-allowed;
    }

body > main {
    grid-area: main;
    padding: 20px 10px 20px 20px;
}
body > aside {
    grid-area: sidebar;
    padding: 20px 20px 20px 10px;
}
    body > aside h2,
    body > main h2 {
        color: #eee;
        background-color: #302570;
        margin: 0 0 .5em 0;
        font-size: 20px;
        padding: 10px 12px 8px 12px;
        margin: 0;
        text-transform: uppercase;
        font-size: 14px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom: 1px solid #111;
        font-weight: normal;
        box-shadow: 3px 3px 5px #222;
    }

#server_messages {
    height: 40vh;
    overflow: auto;
    padding: 10px;
    background-color: #2f3133;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px #222;
}
    #server_messages p {
        background-color: #f6f6f6;
        border-radius: 3px;
        margin-top: 0;
        margin-bottom: 10px;
        padding: 10px 20px 10px 64px;
        font-size: 14px;
    }
    #server_messages p:before {
        content: attr(data-added-at);
        background-color: #111;
        color: #fff;
        padding: 10px;
        margin: -10px 10px -10px -64px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        display: inline-block;
        width: 34px;
    }
    #server_messages p.error {
        background-color: rgba(255, 0, 0, 0.5);
    }
    #server_messages p.success {
        background-color: rgba(0, 255, 0, 0.5);
    }

#user_list {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #2f3133;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 3px 3px 5px #222;
}
    #user_list td,
    #user_list th {
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        font-family: monospace;
    }

.not-active-message {
    background-color: #666;
    padding: 10px;
    font-size: 14px;
    font-style: italic;
    border-radius: 3px;
    margin: 0;
}

#client_status {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 20px;
    border-left: 2px solid #111;
}
    #client_status.connected {
        background-color: #097501;
    }
    #client_status.disconnected {
        background-color: #9b1009;
    }

.question {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 3px;
}

#answers {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 150px;
    height: 150px;
    padding: 10px;
    display: inline-block;
    margin: 0 20px 20px 0;
    cursor: pointer;
    user-select: none;
    vertical-align: top;
    border-radius: 8px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px #555;
}
    .card.active {
        border: 5px solid blue;
    }
    .card.winner {
        border: 5px solid green;
    }

#host_controls_inner {
    background-color: #2f3133;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
#host_controls_inner button {
    margin-right: 10px;
}

button {
    background-color: #f6f6f6;
    border-radius: 3px;
    padding: 8px 14px;
    display: inline-block;
    border: 0;
    cursor: pointer;
}
button:hover {
    background-color: #e0e0e0;
}
button:disabled {
    background-color: #e0e0e0;
}

#host_control_inner,
#question_outer,
#judging_outer,
#answers_outer {
    overflow: auto;
    padding: 10px;
    background-color: #2f3133;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px #222;
}