html { height: 100%; }

body {
    background-color: #888;
    min-height: 100%;
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-areas:
      "header header"
      "main sidebar";
    grid-template-columns: 10fr 6fr;
    grid-template-rows: 80px auto;
    align-content: stretch;
}

body > header {
    background-color: #000;
    grid-area: header;
    display: flex;
    justify-content: space-between;
}
    body > header h1 {
        color: #fff;
        margin: 0;
        padding: 20px;
    }
    body > header #connect_form {
        display: flex;
        padding-top: 10px;
    }
    body > header #connect_form .field {
        margin-right: 20px;
    }
    body > header #connect_form .actions {
        padding-top: 20px;
    }
    body > header #connect_form label {
        color: white;
        display: block;
        margin-bottom: 5px;
        font-size: 0.8em;
    }
    body > header #connect_form input[type=text] {
        border: 0;
        padding: 5px;
    }
    body > header #connect_form input[type=text]:disabled {
        cursor: not-allowed;
    }
    body > header #connect_form button {
        background-color: blue;
        border: 0;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
    }
    body > header #connect_form button:hover {
        background-color: darkblue;
    }
    body > header #connect_form button:disabled {
        background-color: grey;
        cursor: not-allowed;
    }

body > main {
    grid-area: main;
    padding: 20px;
}
body > aside {
    background-color: #21007F;
    grid-area: sidebar;
    padding: 20px;
}
    body > aside h2 {
        color: white;
        margin: 0 0 .5em 0;
        font-size: 20px;
    }

#server_messages {
    height: 40vh;
    overflow: auto;
    padding: 0;
    margin-bottom: 20px;
}
    #server_messages p {
        font-family: monospace;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0;
        padding: 10px;
        color: white;
        margin-bottom: 1px
    }
    #server_messages p.error {
        background-color: rgba(255, 0, 0, 0.4);
    }
    #server_messages p.success {
        background-color: rgba(0, 255, 0, 0.4);
    }

#user_list {
    margin-bottom: 20px;
}
    #user_list td,
    #user_list th {
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        font-family: monospace;
    }

#client_status {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    height: 100%;
}
    #client_status.connected {
        background-color: #097501;
    }
    #client_status.disconnected {
        background-color: #9b1009;
    }

#question {
    background-color: black;
    color: white;
    padding: 10px;
}

.card {
    background-color: white;
    width: 150px;
    height: 150px;
    padding: 10px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
    .card.active {
        border: 5px solid blue;
    }
    .card.winner {
        border: 5px solid green;
    }

#judging_outer {
    display: none;
}